{% extends "base.html" %}
{% block uploadpart %}
    <div class="col-8 column">
        <div style="background-color:#eee; padding: 20px; ">
{#            <h4 class="text-left">#}
{#                Upload image#}
{#            </h4>#}
            <form class="form-inline" role="form" action={{ url_for("detect") }} enctype='multipart/form-data'
                method='GET'>
                <div class="form-group" style="width: 60%;">
                        {% if imgname %}
                            <img src="/static/images/{{imgname}}" alt="" style="width: 512px; height: 512px">
                            <input class="d-none" type="text" name="imgname" value="{{imgname}}" required class=""/>
                        {% else %}
                            <img src="/static/images/no_image.png" alt="" style="width: 512px; height: 512px">
                        {% endif %}
                </div>

                {% if imgname %}
                    <div class="form-group">
                        <input type="submit" value="开始分析" class="btn btn-primary btn"
                            style="margin-left: 10%;" />
                    </div>
                {% endif %}

            </form>
            <div style="margin-top:10px;margin-bottom: 10px;">
                <form class="form-inline" role="form" action={{ url_for("upload") }} enctype='multipart/form-data' method='POST'>
                    <div class="form-group">
                        <input type="file" name="image" id="inputfile" required />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="上传图片" class="btn btn-primary" />
                    </div>
            </div>
            </form>
        </div>
    </div>
{% endblock %}